<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8010/ChatService" 
                binding="netTcpBinding" 
                contract="WcfChat.Contracts.Service.IChatService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>